<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Qualle.inc | Игры</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/games.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>

    <script src="../js/games.js" type="text/javascript"></script>
    <script src="../js/common.js" type="text/javascript"></script>
</head>
<body>

<div id="wrapper">

    <header>
        <div id="header"> <!-- Header -->
            <div class="header-left">
                <a href="/" class="head-logo">Qualle.inc</a>
            </div>

            <div class="header-menu">
                <div class="menu-toggle">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="cross">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>

            <div class="header-right" id="header-right"><!-- Menu for pc -->
                <a href="/service" class="head_services">Услуги</a>
                <a href="/games" class="head_games">Игры</a>
                <a href="/news" class="head_news">Новости</a>
                <a href="/about" class="head_about">О Нас</a>
                <a href="/contacts" class="head_contacts">Контакты</a>
                <a href="/login" class="head_login">Вход</a>
                <a href="/cart">
                    <div class="head_cart"></div>
                </a>
                <a href="/profile">
                    <div class="head_user"></div>
                </a>
            </div>
        </div>
    </header>

    <main>
        <section class="title-box">

            <div class="inner-title-box">
                <h1 class="inner-title" id="innerTimeTitle">До выхода ANTHEM - </h1>
                <a></a>
            </div>

            <div class="games-box">

                <div class="game-box" id="game-1">
                    <img class="image" src="img/games/full/full-battlefront.jpg">
                    <div class="text">
                        <p class="name">Battlefront</p>
                        <p class="price">22 $</p>
                    </div>
                </div>

                <div class="game-box" id="game-2">
                    <img class="image" src="img/games/full/full-witcher.jpg">
                    <div class="text">
                        <p class="name">Witcher 3</p>
                        <p class="price">34 $</p>
                    </div>
                </div>

                <div class="game-box" id="game-3">
                    <img class="image" src="img/games/full/full-origins.jpg">
                    <div class="text">
                        <p class="name">Assassin's Creed Origins</p>
                        <p class="price">21 $</p>
                    </div>
                </div>

                <div class="game-box" id="game-4">
                    <img class="image" src="img/games/full/full-mk.jpg">
                    <div class="text">
                        <p class="name">Mortal Kombat</p>
                        <p class="price">17 $</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="popular-games">
            <div class="games-box">

                <div class="game-box" id="game-5">
                    <img class="image" src="img/games/logo/logo-battlefront.png">
                </div>

                <div class="game-box" id="game-6">
                    <img class="image" src="img/games/logo/logo-cod.png">
                </div>

                <div class="game-box" id="game-7">
                    <img class="image" src="img/games/logo/logo-elder-scrolls.png">
                </div>

                <div class="game-box" id="game-8">
                    <img class="image" src="img/games/logo/logo-kill-strain.png">
                </div>

                <div class="game-box" id="game-9">
                    <img class="image" src="img/games/logo/logo-lol.png">
                </div>

                <div class="game-box" id="game-10">
                    <img class="image" src="img/games/logo/logo-quantum-break.png">
                </div>
            </div>
        </section>

        <section class="search">
            <div class="search-box">
                <input name="s" placeholder="Поиск..." type="search">
                <button onclick="search()"></button>
            </div>
        </section>

        <section class="result" id="result">
            <div class="result-box">
                <div class="game">
                    <a class="name" href="/game/1">Fallout</a>
                    <div class="line"></div>
                </div>
                <div class="game">
                    <a class="name" href="/game/2">Fortnite</a>
                    <div class="line"></div>
                </div>
            </div>
        </section>

        <section class="sport-games">

            <div class="games-box">
                <div class="game-box" id="game-11">
                    <img class="image" src="img/games/sport/sport-fifa12.png">
                </div>

                <div class="game-box" id="game-12">
                    <img class="image" src="img/games/sport/sport-fifa13.png">
                </div>

                <div class="game-box" id="game-13">
                    <img class="image" src="img/games/sport/sport-fifa14.png">
                </div>

                <div class="game-box" id="game-14">
                    <img class="image" src="img/games/sport/sport-fifa-street.png">
                </div>

                <div class="game-box" id="game-15">
                    <img class="image" src="img/games/sport/sport-nhl14.png">
                </div>

                <div class="game-box" id="game-16">
                    <img class="image" src="img/games/sport/sport-uefa-euro.png">
                </div>
            </div>

        </section>

        <section class="mobile-games">

            <div class="games-box">

                <div class="game-box" id="game-17">
                    <img class="image" src="img/games/mobile/mobile-1.png">
                    <div class="text">
                        <p class="name">Heroes of Dragon Age</p>
                        <p class="platform">Android, iOS</p>
                    </div>
                </div>

                <div class="game-box" id="game-18">
                    <img class="image" src="img/games/mobile/mobile-2.png">
                    <div class="text">
                        <p class="name">Mortal Kombat X</p>
                        <p class="platform">Android, iOS</p>
                    </div>
                </div>

                <div class="game-box" id="game-19">
                    <img class="image" src="img/games/mobile/mobile-3.png">
                    <div class="text">
                        <p class="name">Injustice 2</p>
                        <p class="platform">Android, iOS</p>
                    </div>
                </div>

                <div class="game-box" id="game-20">
                    <img class="image" src="img/games/mobile/mobile-4.png">
                    <div class="text">
                        <p class="name">WWE Immortals</p>
                        <p class="platform">iOS</p>
                    </div>
                </div>

                <div class="game-box" id="game-21">
                    <img class="image" src="img/games/mobile/mobile-5.png">
                    <div class="text">
                        <p class="name">Star Wars: Galaxy of Heroes</p>
                        <p class="platform">Android, iOS</p>
                    </div>
                </div>

                <div class="game-box" id="game-22">
                    <img class="image" src="img/games/mobile/mobile-6.png">
                    <div class="text">
                        <p class="name">Injustice: Gods Among Us</p>
                        <p class="platform">Android</p>
                    </div>
                </div>
            </div>

        </section>

        <section class="other-games">

            <div class="game-box" id="game-23">
                <img src="img/games/mini/mini-agents.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-24">
                <img src="img/games/mini/mini-battlecry.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-25">
                <img src="img/games/mini/mini-bulletstorm.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-26">
                <img src="img/games/mini/mini-dc-universe.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-27">
                <img src="img/games/mini/mini-dragon-age.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-28">
                <img src="img/games/mini/mini-inquisition.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-29">
                <img src="img/games/mini/mini-light.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-30">
                <img src="img/games/mini/mini-mass-effect.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-31">
                <img src="img/games/mini/mini-scrabble.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-32">
                <img src="img/games/mini/mini-simcity.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-33">
                <img src="img/games/mini/mini-sims.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-34">
                <img src="img/games/mini/mini-sims4.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-35">
                <img src="img/games/mini/mini-skyforge.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-36">
                <img src="img/games/mini/mini-skytopia.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-37">
                <img src="img/games/mini/mini-tetris.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-38">
                <img src="img/games/mini/mini-wheels.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

            <div class="game-box" id="game-39">
                <img src="img/games/mini/mini-wot.jpg">
                <div class="text">
                    <p class="name">PUBG</p>
                    <p class="price">7 $</p>
                </div>
            </div>

        </section>

        <footer class="footer"><!-- footer -->

            <div class="box">
                <p>Беларусь</p>
                <p>ул. Советская 2<br/>
                    +375 35 123 12 34<br/>
                    qualle.rb.inc@gmail.com
                </p>

            </div>

            <div class="box">
                <p>Россия</p>
                <p>Кирова, 24<br/>
                    +7 33 497 89 56<br/>
                    qualle.ru.inc@gmail.com
                </p>
            </div>

            <div class="box">
                <p>США</p>
                <p>CA, Larksfur Dr. 34<br/>
                    +1 32 435 23 43<br/>
                    qualle.us.inc@gmail.com
                </p>
            </div>

            <div class="comp">
                <p>© 2019, Qualle.inc, Все права защищены</p>
            </div>
        </footer>
    </main>
</div>

</body>
</html>
