<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Qualle.inc | Профиль</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>

    <script src="../js/common.js" type="text/javascript"></script>
</head>
<body>

<div id="wrapper">

    <header>
        <div id="header"> <!-- Header -->
            <div class="header-left">
                <a href="/" class="link">Qualle.inc</a>
            </div>

            <div class="header-menu">
                <div class="menu-toggle">
                    <div class="hamburger">
                        <span></span><span></span><span></span>
                    </div>
                    <div class="cross">
                        <span></span><span></span>
                    </div>
                </div>
            </div>

            <div class="header-right" id="header-right"><!-- Menu for pc -->
                <a href="/service" class="link">Услуги</a>
                <a href="/games" class="link">Игры</a>
                <a href="/about" class="link">О Нас</a>
                <a href="/contacts" class="link">Контакты</a>

                <div class="ignore" th:if="${isAuthenticated}">
                    <a href="/cart" class="link">Корзина</a>
                    <a href="/profile" class="link">Профиль</a>
                    <a href="/logout" class="link">Выйти</a>
                </div>

                <div class="ignore" th:if="${not isAuthenticated}">
                    <a href="/login" class="link">Log in</a>
                    <a href="/registration" class="link">Sign up</a>
                </div>
            </div>
        </div>
    </header>

    <section class="info box">
        <div class="profile">

            <h1 class="title"> Профиль </h1>

            <ul>
                <li>Имя -
                    <p th:text="${user.name}"></p>
                </li>
                <li>Фамилия -
                    <p th:text="${user.lastname}"></p>
                </li>
                <li>Телефон -
                    <p th:text="${user.phone}"></p>
                </li>
                <li>Email -
                    <p th:text="${user.email}"></p>
                </li>
                <li>День рождения -
                    <p th:text="${user.birthday}"></p>
                </li>
            </ul>
        </div>

        <div class="games">

            <h1 class="title"> Игры </h1>

            <div class="game" th:each="game : ${games}">
                <div class="logo">
                    <img th:src="@{/img/game-${game.id}}" class="image">
                </div>
                <p class="name" th:text="${game.name}"></p>
            </div>
        </div>
    </section>


    <footer class="footer"><!-- footer -->

        <div class="box">
            <p>Беларусь</p>
            <p>ул. Советская 2<br/>
                +375 35 123 12 34<br/>
                qualle.rb.inc@gmail.com
            </p>

        </div>

        <div class="box">
            <p>Россия</p>
            <p>Кирова, 24<br/>
                +7 33 497 89 56<br/>
                qualle.ru.inc@gmail.com
            </p>
        </div>

        <div class="box">
            <p>США</p>
            <p>CA, Larksfur Dr. 34<br/>
                +1 32 435 23 43<br/>
                qualle.us.inc@gmail.com
            </p>
        </div>

        <div class="comp">
            <p>© 2019, Qualle.inc, Все права защищены</p>
        </div>
    </footer>

</div>
</body>
</html>
