<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<ul th:fragment="sidebar" class="switch">

    <li id="main"><a href="/admin"><span class="case"></span> Главная </a></li>

    <li id="products"><a href="/admin"><span class="case"></span> Товары </a></li>

    <li id="categories"><a href="/admin"><span class="case"></span> Категории </a></li>

    <li id="genres"><a href="/admin"><span class="case"></span> Жанры </a></li>

    <li id="developers"><a href="/admin"><span class="case"></span> Разработчики </a></li>

    <li id="feedbacks"><a href="/admin"><span class="case"></span> Жалобы/Предложения </a></li>

    <li id="vacancies"><a href="/admin"><span class="case"></span> Вакансии </a></li>

    <li id="images"><a href="/admin"><span class="case"></span> Изображения </a></li>

    <li id="users"><a href="/admin"><span class="case"></span> Пользователи </a></li>

    <li id="sql"><a href="/admin/sql"><span class="case"></span> SQL-Редактор </a></li>

    <li id="db_functions_btn"><a href="/admin"><span class="case"></span> Процедуры </a></li>
</ul>

</body>
</html>