body {
    margin: 0 !important;
    padding: 0 !important;
}

#wrapper {
    font-family: 'Open Sans', sans-serif;
    background: #f0f0f0;
}

/*  main  */
/**************************************************/
main {
    width: 100%;
}

/*  Title  */
/**************************************************/
.title {
    width: 100%;
    padding: 175px 0 100px;
    background: white;
    box-shadow: 5px 5px 30px -5px #9b9b9b;
}

.title .text {
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
}

.title .text h1 {
    color: #00b0ff;
    font-size: 30px;
}

/*  products  */
/**************************************************/
.products {
    width: 100%;
    margin-top: 50px;
    height: auto;
    background: #f0f0f0;
}

.products .main-delete {
    position: absolute;
    right: 10%;
    top: 366px;
    box-shadow: 5px 5px 30px -5px #9b9b9b;
}

.products .product-box {
    position: relative;
    width: 50%;
    height: 300px;
    margin: auto auto 30px;
    background: white;
    box-shadow: 5px 5px 30px -5px #9b9b9b;
}

.products .product-box .delete {
    position: absolute;
    right: 0;
    top: 0;
}

.products .product-box .image {
    width: 40%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.products .product-box .image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    float: left;
}

.products .product-box .text {
    width: 50%;
    height: 80%;
    padding: 5%;
    float: right;
}

.products .product-box .text .name {
    margin: 0;
    color: gray;
    font-weight: normal;
    font-size: 30px;
}

.products .product-box .text .line {
    width: 100%;
    height: 1px;
    background: gray;
}

.products .product-box .text .price {
    margin-top: 50px;
    color: gray;
    font-weight: normal;
    font-size: 25px;
}

/*  total  */
/**************************************************/
.total {
    width: 100%;
    min-height: 200px;
    margin-top: 50px;
    height: auto;
    background: #f0f0f0;
}

.total .text {
    width: 50%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto auto 30px;
    background: white;
    box-shadow: 5px 5px 30px -5px #9b9b9b;
    text-align: center;
}

.total .text-2 {
    width: 50%;
    height: auto;
    margin: auto auto 30px;
    background: white;
    box-shadow: 5px 5px 30px -5px #9b9b9b;
    text-align: center;
}

.total .text h1 {
    color: gray;
    font-weight: normal;
    font-size: 25px;
}

/*   main   */
.button {
    padding: 15px 30px;
    font-weight: 600;
    background-color: transparent;
    color: gray;
    border: 1px solid gray;
    transition: background-color 0.25s linear;
}

.button:hover {
    background-color: gray;
    border: 1px solid gray;
    color: white;
}

.big-button {
    width: 100%;
    height: 100%;
    padding: 30px 30px;
    font-weight: 600;
    background-color: #00b0ff;
    color: white;
    border: 1px solid #00b0ff;
    transition: background-color 0.25s linear;
}

.big-button:hover {
    background-color: transparent;
    color: #00b0ff;
}

.delete-button {
    padding: 30px 30px;
    font-weight: 600;
    background-color: #ff3724;
    color: white;
    border: 1px solid #ff3724;
    transition: background-color 0.25s linear;
}

.delete-button:hover {
    background-color: white;
    color: #ff3724;
}

.small-delete-button {
    padding: 10px 15px;
    font-weight: 600;
    background-color: white;
    color: #ff3724;
    border: 0;
    transition: background-color 0.25s linear;
}

.small-delete-button:hover {
    background-color: #ff3724;
    color: white;
}
