body {
    margin: 0 !important;
    padding: 0 !important;
}

#wrapper {
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 100%;
}

.photo {
    max-width: 100%;
    height: 800px;
    position: relative;
    margin: auto;
    box-sizing: border-box
}

.photo .background {
    width: 100%;
    height: 800px;
    background: gray;
}

.photo .background img {
    width: 100%;
    height: 800px;
    background: gray;
    object-fit: cover;
}

.photo .logo {
    position: absolute;
    top: 75px;
    left: 10%;
    width: 150px;
    height: 150px;
    background: white;
}

.photo .logo img {
    position: absolute;
    object-fit: cover;
    width: 150px;
    height: 150px;
    background: white;
}

.photo .name-box {
    position: absolute;
    bottom: 0;
    left: calc(50% - 35%);
    width: 60%;
    height: 100px;
    margin: auto;
    padding: 2% 5%;
    background: white;
}

.photo .name-box .name {
    float: left;
}

.photo .name-box .cart {
    float: right;
}

.info {
    width: 100%;
    height: 100%;
    padding-bottom: 150px;
    background: #e2e2e2;
}

.info .container {
    width: 60%;
    margin: auto;
    padding: 2% 5%;
    background: white;
}

.info .container table {
    width: 100%;
    border-collapse: collapse;
}

.info .container table td {
    height: 100px;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.info .container table tr td:first-child {
    text-align: right;
    width: 30%;
}

/*   main   */
.button {
    padding: 15px 30px;
    font-weight: 600;
    background-color: transparent;
    color: gray;
    border: 1px solid gray;
    transition: background-color 0.25s linear;
}

.button:hover {
    background-color: gray;
    border: 1px solid gray;
    color: white;
}