body {
    margin: 0 !important;
    padding: 0 !important;
}

#wrapper {
    font-family: 'Open Sans', sans-serif;
}

/*  main  */
/**************************************************/
main {
    width: 100%;
}

/*  Info  */
/**************************************************/
.info {
    width: 100%;
    padding: 200px 0;
    background: #e2e2e2;
}

.info .profile {
    width: 60%;
    margin: auto;
    padding: 2% 5%;
    background: white;
}

.info .title {
    text-align: center;
}
.info .profile li {
    font-size: 20px;
    margin: 10px 0;
}

.info .games {
    width: 60%;
    margin: 100px auto auto;
    padding: 2% 5%;
    background: white;
}

.info .games .game {
    width: 60%;
    height: 100px;
    margin: 20px auto 20px;
    border-bottom: 1px solid #dddddd;
}

.info .games .game .logo {
    width: 40%;
    height: 90px;
    float: left;
    overflow: hidden;
}

.info .games .game img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.info .games .game .name {
    text-align: right;
}

