body {
    margin: 0 !important;
    padding: 0 !important;
}

#wrapper {
    font-family: 'Open Sans', sans-serif;
}

/*  main  */
/**************************************************/
main {
    width: 100%;
}

/*  Info  */
/**************************************************/
.info {
    width: 100%;
    padding: 200px 0;
    background: #e2e2e2;
    height: 200px;
    position: relative;
    background: url("../img/bg/handshake.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.info .vacancy-info-inner {
    width: 60%;
    margin: auto;
    padding: 2% 5%;
    background: rgba(255, 255, 255, 0.65)
}

.info .vacancy-info-inner .title {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    z-index: 2;
}

.vacancies-box {
    width: 100%;
    padding: 50px 0;
    background: #e2e2e2;
    position: relative;
    background-size: cover;
}

.vacancies-box .vacancies {
    width: 60%;
    margin: auto;
    padding: 2% 5%;
    background: white;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
}

.vacancies-box .vacancies .vacancy {
    width: 80%;
    margin: 20px auto 20px;
    border-bottom: 1px solid #dddddd;
}

.vacancies-box .vacancies .vacancy .title {
    font-size: 20px;
}

.vacancies-box .vacancies .vacancy .description {
    font-size: 14px;
}
