<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <footer class="footer"><!-- footer -->

        <div class="box">
            <p>Беларусь</p>
            <p>ул. Советская 2<br/>
                +375 35 123 12 34<br/>
                qualle.rb.inc@gmail.com
            </p>

        </div>

        <div class="box">
            <p>Россия</p>
            <p>Кирова, 24<br/>
                +7 33 497 89 56<br/>
                qualle.ru.inc@gmail.com
            </p>
        </div>

        <div class="box">
            <p>США</p>
            <p>CA, Larksfur Dr. 34<br/>
                +1 32 435 23 43<br/>
                qualle.us.inc@gmail.com
            </p>
        </div>

        <div class="comp">
            <p>© 2019, Qualle.inc, Все права защищены</p>
        </div>
    </footer>
</div>
</body>
</html>
