<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <ul th:fragment="sidebar" class="switch">

        <li id="main"><a href="/admin"><span class="case"></span> Главная </a></li>

        <li id="games"><a href="/admin"><span class="case"></span> Игры </a></li>

        <li id="categories"><a href="/admin"><span class="case"></span> Категории </a></li>

        <li id="developers"><a href="/admin"><span class="case"></span> Разработчики </a></li>

        <li id="users"><a href="/admin"><span class="case"></span> Пользователи </a></li>

        <li id="summaries"><a href="/admin"><span class="case"></span> Сообщения </a></li>
    </ul>

</body>
</html>