body {
    margin: 0 !important;
    padding: 0 !important;
}

#wrapper {
    font-family: 'Open Sans', sans-serif;
}

/*  main  */
/**************************************************/
main {
    width: 100%;
}

/*  Title  */
/**************************************************/
.title-box {
    width: 100%;
    height: 1000px;
    position: relative;
    background: url("../img/bg/anthem.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.title-box .inner-title-box {
    width: 100%;
    height: 100px;
    padding-top: 250px;
}

.title-box .inner-title {
    margin: 0;
    padding-left: 20%;
    color: white;
}

.title-box .games-box {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    position: absolute;
    bottom: 0;
}

.title-box .games-box .game-box {
    position: relative;
    color: white;
    font-weight: bold;
    overflow: hidden;
    background: black;
}

.title-box .games-box .game-box .image:hover {
    transform: scale(1.1);
    opacity: 1;
}

.title-box .games-box .game-box .image {
    width: 100%;
    height: auto;
    opacity: 0.7;
    transition: 0.5s;
}

.title-box .games-box .game-box .text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 15px;
    text-align: right;
}

/* for tablet */
@media screen and (max-width: 800px) {

    .title .games-box {
        width: 100%;
        height: 200px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        position: absolute;
        bottom: 0;
    }
}

/* for mobile */
@media screen and (max-width: 480px) {

}

/*  popular-games  */
/**************************************************/

.popular-games {
    width: 100%;
    height: 900px;
    position: relative;
    background: white;
}

.popular-games .games-box {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -270px;
    margin-left: -640px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 250px 250px;
    grid-gap: 40px;
}

.popular-games .games-box .game-box {
    position: relative;
    background: #eee;
}

/* for tablet */
@media screen and (max-width: 800px) {

}

/* for mobile */
@media screen and (max-width: 480px) {

}

/*  sport-games  */
/**************************************************/
.sport-games {
    width: 100%;
    height: 600px;
    position: relative;
    background: url("../img/bg/arena.jpg") center;
    background-size: cover;
}

.sport-games::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.sport-games .games-box {
    position: absolute;
    left: calc(50% - 450px);
    top: calc(50% - 150px);
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px;
    grid-gap: 100px;
}

.sport-games .games-box .game-box {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    transition: 0.5s;
}

.sport-games .games-box .game-box:hover {
    transform: scale(1.1);
}

/* for tablet */
@media screen and (max-width: 800px) {

}

/* for mobile */
@media screen and (max-width: 480px) {

}

/*  mobile-games  */
/**************************************************/
.mobile-games {
    width: 100%;
    height: 900px;
    position: relative;
    background: white;
}

.mobile-games {
    width: 100%;
    height: 900px;
    position: relative;
    background: white;
}

.mobile-games .games-box {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -270px;
    margin-left: -640px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 250px 250px;
    grid-gap: 40px;
}

.mobile-games .games-box .game-box {
    position: relative;
    background: #eee;
}

/* for tablet */
@media screen and (max-width: 800px) {

}

/* for mobile */
@media screen and (max-width: 480px) {

}

/*  other-games  */
/**************************************************/
.other-games {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    background: black;
}

.other-games .game-box {
    width: 12%;
    height: 170px;
    margin: 0;
    padding: 0;
    position: relative;
    background: #004d6c;
    overflow: hidden;
}

.other-games .game-box:hover {
    background: #0077a6;
}

.other-games .game-box img {
    width: 100%;
    height: auto;
}






