body {
    margin: 0 !important;
    padding: 0 !important;
}

#wrapper {
    font-family: 'Open Sans', sans-serif;
}

/*  main  */
/**************************************************/
main {
    width: 100%;
}


/*  Slides  */
/**************************************************/
.container {
    max-width: 100%;
    height: 800px;
    position: relative;
    margin: auto;
    box-sizing: border-box
}

.mySlides {
    height: 100%;
    width: 100%;
    display: none;
}

.yennefer {
    background: url("../img/main_photo_1.jpg") 50% 10% no-repeat;
    background-size: cover;
}

.solders {
    background: url("../img/main_photo_4.jpg") 50% 10% no-repeat;
    background-size: cover;
}

.servers {
    background: url("../img/main_photo_5.jpg") 50% 10% no-repeat;
    background-size: cover;
}

.mySlides .title_box {
    position: absolute;
    top: 400px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.mySlides .title_box .title {
    padding-left: 15%;
    padding-top: 100px;
    padding-bottom: 20px;
    overflow: hidden;
}

.mySlides .title_box .title span {
    margin: 0;
    padding: 20px 25px 15px 25px !important;
    line-height: 100px;
    background: #00b0ff;
    opacity: 0.9;
    font-size: 45px;
    color: white;
}

.mySlides button {
    margin-top: 30px;
    margin-left: 15%;;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next { /* right */
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* for tablet */
@media screen and (max-width: 800px) {

    .mySlides .title_box .title {
        padding: 100px 0 0 10%;
    }

    .mySlides .title_box .title span {
        font-size: 35px;
    }

    .mySlides button {
        margin-left: 10%;
    }

}

/* for mobile */
@media screen and (max-width: 480px) {

    .mySlides .title_box {
        margin-top: 100px;
    }

    .mySlides .title_box .title {
        width: 100%;
        padding: 0;
        margin: 0;
        background: #00b0ff;
        text-align: center;
    }

    .mySlides .title_box .title span {
        margin: 0;
        width: 70%;
        padding: 15px 15% 5px 15%;
        font-size: 25px;
        line-height: 54px;
    }

    .servers .title_box .title {
        text-align: left;
        padding-left: 10%;
    }

    .mySlides .link {
        text-align: center;
    }

    .mySlides button {
        margin-left: 0;
    }
}

/* for control buttons */
@media only screen and (max-width: 480px) {
    .prev, .next, .text {
        font-size: 11px
    }

}


/*  development  */
/**************************************************/

.development {
    width: 100%;
    background: white;
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: center;
    justify-content: center;
    box-shadow: 5px 5px 30px 5px black;
    overflow: hidden;
}

.dev {
    width: 200px;
    height: 170px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dev .image {
    transition: all 0.3s ease;
}

.dev .image:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 700px) {

    .dev {
        width: 130px;
        height: 100px;
        margin: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .dev .image:hover {
        width: 130px;
        height: 100px;
    }
}


/*  statistics  */
/**************************************************/
.statistics {
    width: 100%;
    min-height: 800px;
    background: url("../img/stat_photo.jpg") 50% 50% fixed;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: center;
    justify-content: center;
}

.st {
    height: 300px;
    margin-left: 100px;
    margin-right: 100px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;
}

.st .st_round {
    height: 125px;
    width: 125px;
    margin: auto;
    background: rgba(128, 128, 128, 0.55);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.st .st_round img {
    width: 60%;
    height: 60%;
    position: relative;
    top: 21%;
}

.st .st_count {
    font-size: 28px;
    color: white;

}

.st .st_description {
    font-size: 14px;
    color: white;
}


@media screen and (max-width: 1000px) {

    .statistics {
        padding-top: 50px;
    }
}




/*   for tablet   */
@media screen and (min-width: 480px) {

    .st:hover {
        transition: 1s;
        transform: scale(1.3);
    }

    .st .st_round:hover {
        background: rgba(128, 128, 128, 0.76);
    }
}

/*   for mobile   */
@media screen and (max-width: 480px) {

    .statistics {
        padding-top: 50px;
    }
}

/*  for pc  */
@media screen and (min-width: 800px) {
    .st:hover {
        transition: 1s;
        transform: scale(1.5);
    }

    .st .st_round:hover {
        background: rgba(128, 128, 128, 0.76);
    }
}

/*  about  */
/**************************************************/
.about {
    width: 100%;
    min-height: 400px;
    background: white;
    overflow: hidden;
    padding: 200px 0;
}

.about .left {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    width: 50%;
    height: 400px;
    float: left;
    padding: 20px 0;
}

.about .left img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20%;
    height: auto;
    max-width: 60%;

    box-shadow: 0 0 20px #777777;
}

.about .right {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    width: 40%;
    height: 400px;
    float: right;
    padding: 20px 5%
}

.about .right .text {
    text-align: center;
    color: gray;
    font-size: 18px;
}

.about .right .text p:nth-child(1) {
    color: black;
    font-weight: bold;
    font-size: 23px;
}

.about .btn-about {
    margin-top: 30px;
    color: gray;
    border: 1px solid gray;
}

.about .btn-about:hover {
    color: white;
    background: gray;
}

/*  for tablet   */
@media screen and (max-width: 800px) {

    .about {
        padding: 100px 0;
    }


    .about .left {
        overflow: hidden;
        width: 100%;
        height: 100%;
        float: none;
    }

    .about .right {
        overflow: hidden;
        width: 100%;
        height: 100%;
        float: none;
    }

    .about .right {
        width: 90%;
        padding: 0 5%;
        float: none;
    }
}

/*  for tablet   */
@media screen and (max-width: 480px) {

    .about {
        padding: 100px 0;
    }

    .about .left {
        width: 100%;
        height: 100%;
        float: none;
    }

    .about .right {
        width: 90%;
        padding: 0 5%;
        height: 100%;
        float: none;
    }

    .about .right p:nth-child(2) {
        font-size: 15px;
        line-height: 20px;
    }

    .about .left img {
        max-width: 100%;
        width: 100%;
        box-shadow: 0 0 20px #777777;
    }

}

/*  certificates  */
/**************************************************/

.certificates {
    width: 100%;
    background: black;

    display: flex;
    flex-wrap: wrap-reverse;
    align-content: center;
    justify-content: center;
    box-shadow: 5px 5px 30px 5px black;
}

.cert {
    width: 200px;
    height: 200px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.cert .image {

    width: 80%;
    height: 60%;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cert .image:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

@media screen and (max-width: 700px) {

    .dev {
        width: 130px;
        height: 100px;
        margin: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .dev .image:hover {
        width: 130px;
        height: 100px;
    }
}

/*  services  */
/**************************************************/
.services {
    background: url("../img/serv_photo.jpg") 50% 50% fixed;
    background-size: cover;
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    filter: invert(100%)
}

.services .left {
    background: inherit;
    width: 650px;
    height: 300px;
    position: absolute;
    overflow: hidden;
}

.services .left::before {
    content: '';
    width: 700px;
    height: 350px;
    background: url("../img/serv_photo.jpg") 50% 50% fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
    position: absolute;
    left: -25px;
    top: -25px;
}

.services .left .text {
    position: relative;
    z-index: 30;
    align-items: center;
    text-align: center;
    line-height: 25px;
}

.services .left .text p:nth-child(1) {
    z-index: 300;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

.services .left .text p:nth-child(2) {
    z-index: 300;
    margin: 10px 10px 30px;
}

/* for tablet */
@media screen and (max-width: 800px) {

    .services .left {
        background: inherit;
        width: 80%;
        height: 370px;
        position: absolute;
        overflow: hidden;
    }

    .services .left::before {
        content: '';
        width: 110%;
        height: 420px;

        background: url("../img/serv_photo.jpg") 50% 50% fixed;
        background-size: cover;

        box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
        filter: blur(10px);

        position: absolute;
        left: -25px;
        top: -25px;
    }
}

/* for mobile */
@media screen and (max-width: 480px) {
    .services .left {
        background: inherit;
        width: 100%;
        height: 300px;
        position: absolute;
        overflow: hidden;
    }

    .services .left::before {
        content: '';
        width: 120%;
        height: 350px;

        background: url("../img/serv_photo.jpg") 50% 50% fixed;
        background-size: cover;

        box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
        filter: blur(10px);

        position: absolute;
        left: -25px;
        top: -25px;
    }
}


/*    buttons   */
/**************************************************/

/*    to top   */
#buttonTop {
    display: none;
    position: fixed;
    width: 30px;
    height: 30px;
    right: 45px;
    bottom: 45px;
    border-radius: 50%;
    padding: 8px;

    box-shadow: 0 0 50px #9e9e9e;
    background: white;
}

#buttonTop img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 480px) {
    .buttonHide {
        display: none;
    }
}


/*   main   */
.button {
    padding: 15px 30px;
    font-weight: 600;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    transition: background-color 0.25s linear;
}

.button:hover {
    background-color: white;
    border: 1px solid white;
    color: #00b0ff;
}

/*    linkBar   */
/**************************************************/
.linkBar{
    display: none;
    position: absolute;
    width: 45px;
    height: 300px;
    right: 0;
    top: 50%;
    background: url("../img/links/links.png") 50% 50%;
    background-size: cover;
}

@media screen and (max-width: 480px) {

    .linkBar{
        position: absolute;
        width: 30px;
        height: 200px;
        right: 0;
        top: 70%;
        background: url("../img/links/links.png") 50% 50%;
        background-size: cover;
    }
}