<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Qualle.inc | Корзина</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/cart.css" th:href="@{/css/cart.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css" th:href="@{/css/footer.css}"/>

    <script src="../js/cart.js" type="text/javascript"></script>
</head>
<body>

<div id="wrapper">

    <div th:insert="fragments/header :: header"></div>

    <main>

        <section class="title">
            <div class="text">
                <h1>Ваша корзина </h1>
            </div>
        </section>

        <section class="products">

            <div class="main-delete" id="clear">
                <form action="#" th:action="@{'/cart/delete'}" method="post">
                    <input type="submit" class="delete-button" value="Очистить"/>
                </form>
            </div>

            <div th:each="product : ${products}" class="product-box">
                <div class="image">
                    <img th:src="${product.img}">
                </div>
                <div class="text">
                    <p class="name" th:text="${product.name}"></p>
                    <div class="line"></div>
                    <p class="price"> цена: <span class="numPrice" th:text="${product.price}"></span> $</p>
                </div>

                <div class="delete">
                    <form action="#" th:action="@{'/cart/delete'}" method="post">
                        <input th:value="${product.id}" type="hidden" name="gameId"/>
                        <input type="submit" class="small-delete-button" value="X"/>
                    </form>
                </div>
            </div>

        </section>

        <section class="total">
            <div class="text" id="nullText">
                <h1>Ваша корзина пуста </h1>
            </div>

            <div class="text" id="amountText">
                <h1>Сумма заказа: <span id="fullPrice"></span> $</h1>
            </div>

            <div class="text-2" id="buy">
                <form action="#" th:action="@{/cart/buy}" method="post">
                    <input type="submit" class="big-button" value="Купить"/>
                </form>
            </div>
        </section>

        <div th:insert="fragments/footer :: footer"></div>

    </main>
</div>

</body>
</html>
