body {
    margin: 0 !important;
    padding: 0 !important;
}

#wrapper {
    font-family: 'Open Sans', sans-serif;
}

/*  main  */
/**************************************************/
main {
    width: 100%;
}

.box {
    width: 100%;
}

/*  Title  */
/**************************************************/
.title {
    width: 100%;
    height: 900px;
    position: relative;
    background: url("img/bg/anthem.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.title .inner-title-box {
    width: 100%;
    height: 100px;
    padding-top: 250px;
}

.title .inner-title {
    margin: 0;
    padding-left: 20%;
    color: white;
}

.title .games-box {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    position: absolute;
    bottom: 0;
}

.title .games-box .game-box {
    position: relative;
    color: white;
    font-weight: bold;
}

.title .games-box .game-box:nth-child(1) {
    background: url("img/games/full/full-battlefront.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.title .games-box .game-box:nth-child(2) {
    background: url("img/games/full/full-witcher.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.title .games-box .game-box:nth-child(3) {
    background: url("img/games/full/full-origins.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.title .games-box .game-box:nth-child(4) {
    background: url("img/games/full/full-mk.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.title .text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 15px;
    text-align: right;
}

/* for tablet */
@media screen and (max-width: 800px) {

    .title .games-box {
        width: 100%;
        height: 200px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        position: absolute;
        bottom: 0;
    }
}

/* for mobile */
@media screen and (max-width: 480px) {

}

/*  popular-games  */
/**************************************************/

.popular-games {
    width: 100%;
    height: 900px;
    position: relative;
    background: white;
}

.popular-games .games-box {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -270px;
    margin-left: -640px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 250px 250px;
    grid-gap: 40px;
}

.popular-games .games-box .game-box {
    position: relative;
}

.popular-games .games-box .one {
    background: #eee;
}

.popular-games .games-box .two {
    background: #eee;
}

.popular-games .games-box .three {
    background: #eee;
}

.popular-games .games-box .four {
    background: #eee;
}

.popular-games .games-box .five {
    background: #eee;
}

.popular-games .games-box .six {
    background: #eee;
}

/* for tablet */
@media screen and (max-width: 800px) {

}

/* for mobile */
@media screen and (max-width: 480px) {

}

/*  sport-games  */
/**************************************************/
.sport-games {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url("img/bg/arena.jpg");
    background-position: center;
    background-size: cover;
}

.sport-games .games-box {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -270px;
    margin-left: -640px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 250px 250px;
    grid-gap: 40px;
}

.sport-games .games-box .game-box {
    position: relative;
}

.sport-games .games-box .one {
    background: #eee;
}

.sport-games .games-box .two {
    background: #eee;
}

.sport-games .games-box .three {
    background: #eee;
}

.sport-games .games-box .four {
    background: #eee;
}

.sport-games .games-box .five {
    background: #eee;
}

.sport-games .games-box .six {
    background: #eee;
}

/* for tablet */
@media screen and (max-width: 800px) {

}

/* for mobile */
@media screen and (max-width: 480px) {

}

/*  mobile-games  */
/**************************************************/
.mobile-games {
    width: 100%;
    height: 900px;
    position: relative;
    background: white;
}

.mobile-games {
    width: 100%;
    height: 900px;
    position: relative;
    background: white;
}

.mobile-games .games-box {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -270px;
    margin-left: -640px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 250px 250px;
    grid-gap: 40px;
}

.mobile-games .games-box .game-box {
    position: relative;
}

.mobile-games .games-box .one {
    background: #eee;
}

.mobile-games .games-box .two {
    background: #eee;
}

.mobile-games .games-box .three {
    background: #eee;
}

.mobile-games .games-box .four {
    background: #eee;
}

.mobile-games .games-box .five {
    background: #eee;
}

.mobile-games .games-box .six {
    background: #eee;
}

/* for tablet */
@media screen and (max-width: 800px) {

}

/* for mobile */
@media screen and (max-width: 480px) {

}

/*  other-games  */
/**************************************************/
.other-games {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    background: black;
}

.other-games .game-box {
    width: 12%;
    height: 170px;
    margin: 0;
    padding: 0;
    position: relative;
    background: #004d6c;
}

.other-games .game-box:hover {

    background: #0077a6;
}






